<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbw.mapper.StudentMapper">

<!--    插入学生-->
    <sql id="key">
        <trim suffixOverrides=",">
            studentno,
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="gender!=null and gender!=''">
                gender,
            </if>
            <if test="age!=null and age!=''">
                age,
            </if>
            <if test="deptno!=null and deptno!=''">
                deptno,
            </if>
            <if test="coachno!=null and coachno!=''">
                coachno,
            </if>
            <if test="grade!=null and grade!=''">
                grade,
            </if>
        </trim>
    </sql>
    
    <sql id="values">
        <trim suffixOverrides=",">
            #{studentno},
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="gender!=null and gender!=''">
                #{gender},
            </if>
            <if test="age!=null and age!=''">
                #{age},
            </if>
            <if test="deptno!=null and deptno!=''">
                #{deptno},
            </if>
            <if test="coachno!=null and coachno!=''">
                #{coachno},
            </if>
            <if test="grade!=null and grade!=''">
                #{grade},
            </if>
        </trim>
    </sql>

    <insert id="InsertStudent" parameterType="com.zbw.pojo.Student">
        insert into student(<include refid="key"> </include>) values(<include refid="values"> </include>)
    </insert>

<!--    查询所有学生-->
    <select id="SelectAllStudent" resultType="com.zbw.pojo.Student">
        select * from student
    </select>

<!--    按关键字查询学生-->
    <select id="SelectStudentByKeyword" resultType="com.zbw.pojo.Student" parameterType="com.zbw.pojo.Student">
        select * from student
        where 1=1
        <if test="name != null and name != '' ">
            and name like concat(concat('%',#{name}),'%')
        </if>
        <if test="studentno != null">
            and studentno = #{studentno}
        </if>
        <if test="gender != null">
            and gender = #{gender}
        </if>
        <if test="age != null">
            and age = #{age}
        </if>
        <if test="deptno != null">
            and deptno  = #{deptno}
        </if>
        <if test="coachno != null">
            and coachno = #{coachno}
        </if>
        <if test="grade != null">
            and grade = #{grade}
        </if>
    </select>

<!--    删除学生-->
    <delete id="DeleteStudent" parameterType="int">
        delete from student
        where studentno = #{studentno}
    </delete>

<!--修改学生信息-->
    <update id="UpdateStudent" parameterType="com.zbw.pojo.Student">
        update student
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="deptno != null">
                deptno  = #{deptno},
            </if>
            <if test="coachno != null">
                coachno = #{coachno},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
            studentno = #{studentno}
        </set>
        where studentno = #{studentno}
    </update>
</mapper>